html,
body {
  background-color: rgb(166, 207, 255) !important;
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding-bottom: 20px;
}
